[Unit]
Description=Kanata service
After=user.slice
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/bin/kanata --cfg /home/vigneshsk/.config/kanata/config.kbd
Type=simple
TimeoutStartSec=0

[Install]
WantedBy=default.target

